html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;

  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@supports (-webkit-appearance: none) {
  .MuiOutlinedInput-notchedOutline legend {
    visibility: visible !important;
  }
}
